.Pokecard {
    background-color: blanchedalmond;
    padding: 1em;
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10em;
    height: 18em;
    transition: box-shadow .25s;
}

.Pokecard:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}